*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --text-color: white;
    --bg-url: url('./asset/mobileDark.jpg');
    --stroke-color: rgba(255, 255, 255, 0.5);
    --surface-color: rgba(255, 255, 255, 0.05);
    --surface-color-hover: rgba(0, 0, 0, 0.02);
    --hightlight-color: rgba(255, 255, 255, 0.2);
    --switch-icon: url('./asset/sun.svg');
    
}

.light{
    --text-color: black;
    --bg-url: url('./asset/mobileLight.jpg');
    --stroke-color: rgba(0, 0, 0, 0.5);
    --surface-color: rgba(0, 0, 0, 0.1);
    --hightlight-color: rgba(0, 0, 0, 0.1);
    --switch-icon: url('./asset/moon-stars.svg');
    
}

body {

    /*background-image: url('./asset/mobileDark.jpg');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;*/

    /* color(nao ta usando) image repeat position/size*/
    background: var(--bg-url) no-repeat top center/cover;
    transition: all 3s;
}

body * {
    font-family: 'Inter', sans-serif;
    color: var(--text-color);
}

#container{
    width: 300px;
    margin: 56px auto 0px;

}

#profile{
    text-align: center;
    padding: 24px;
}

#profile img{
    width: 112px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #F7DDF7;
    
}

#profile p {
    font-weight: 500;
    line-height: 24px;
    margin-top: 8px;
}

#switch{
    position: relative;
    width: 64px;
    margin: 4px auto;
    
}

/*switch*/
#switch button{
    width: 32px;
    height: 32px;
    background: white var(--switch-icon) no-repeat center;
    border: 0;
    border-radius: 50%;

    /*sobrepor outros elementos fica absoluto 
    relativo ao elemento pai "switch"*/
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    
}


.light #switch button{
    right: 0;
    
}

#switch span{
    display: block;
    width: 64px;
    height: 24px;
    background: var(--surface-color);
    border: 1px solid var(--stroke-color);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 9999px;
}

/* Lista de links */
ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    
    /*espaço entre os elementos*/
    gap: 16px;
    padding: 24px 0px;

}

ul li a {

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 14px 24px;
    background: var(--surface-color);
    border: 1px solid var(--stroke-color);
    border-radius: 8px;

    /*embaça o elemento*/
    -webkit-backdrop-filter: blur(4px);

    text-decoration: none;
    font-weight: 500;

    transition: background 0.2s;
}

/*pseudo-selector*/
ul li a:hover {
    background: var(--surface-color-hover);
    border: 1.5px solid var(--text-color);
    scale: 1.1;
}

/*Social links*/
#social-links{
    display: flex;
    justify-content: center;

    padding: 24px 0;
    font-size: 24px;
}

#social-links a{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
}


#social-links a:hover{
    background: var(--hightlight-color);
    border-radius: 50%;
}

footer{
    padding: 24px 0px;
    display: flex;
    justify-content: center;
    font-size: 14px;
}

@keyframes animacaoBottom{
    to{

    }
}